<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
</head>
<body>
    <h2>Create Todo</h2>
    <h5>Welcome <%= userId %></h5>
</body>
</html>